#list-options {
    margin-bottom:var(--sections-gap);
    display: flex;
    flex-direction: column;
    align-items: center;
}
#list-options > div:not(:last-child) {
    margin-bottom: var(--items-gap);
}
#list-filter-container {
    display: flex;
    align-items: center;
}

/* List filters */
#list-filter-list, #list-sort-list {
    display: flex;
    margin-left: calc(2 * var(--items-gap));
}
#list-filter-list > li > button {
    padding: 0.2rem 1rem;
    font-size: var(--font-size);
    cursor: pointer;
    transition: backdrop-filter 0.2s ease;
    background-color: transparent;
    border: none;
}
#list-filter-list > li:not(:last-child) {
    border-right: 1px solid #999;
}
.active-list-filter { /* Active list filter li */
    text-decoration: 2px underline;
}
#list-filter-container[data-theme-mode=light] > ul > li > button.active-list-filter {
    backdrop-filter: var(--list-filter-backdrop-filter-light);
}
#list-filter-container[data-theme-mode=dark] > ul > li > button.active-list-filter {
    backdrop-filter: var(--list-filter-backdrop-filter-dark);
}

/* List sort */
#list-sort-container {
    display: flex;
    align-items: center;
}
#list-sort-list > li > button {
    font-size: var(--font-size);
    padding: var(--padding);
    background-color: var(--button-background-color);
    border-radius: var(--border-radius);
    border: none;
    transition: background-color 0.2s linear;
}
#list-sort-list > li > button:hover {
    background-color: var(--button-hover-background-color);
}

/* Buttons */
#list-options-buttons {
    display: flex;
}
#list-options-buttons > li > button {
    padding: var(--padding);
    font-size: var(--font-size);
    background-color: var(--button-background-color);
    border: none;
    border-radius: var(--border-radius);
    transition: background-color 0.2s linear;
}
#list-options-buttons > li > button:hover {
    background-color: var(--button-hover-background-color);
}
#list-options-buttons > li:not(:last-child), #list-sort-list > li:not(:last-child) {
    margin-right: calc(1.5 * var(--items-gap));
}
#list-options-button-container[data-theme-mode=light] > ul > li > button,
#list-sort-container[data-theme-mode=light] > ul > li > button,
#list-filter-container[data-theme-mode=dark] > ul > li > button,
#list-filter-container[data-theme-mode=dark] > svg,
#list-sort-container[data-theme-mode=dark] > svg
{
    color: var(--opposite-color-dark);
}
#list-options-button-container[data-theme-mode=dark] button,
#list-sort-container[data-theme-mode=dark] button,
/* :is(#list-sort-list-container, #list-options-buttons-container)[data-theme-mode=dark] > ul > li > button, */
#list-filter-container[data-theme-mode=light] > ul > li > button,
#list-filter-container[data-theme-mode=light] > svg,
#list-sort-container[data-theme-mode=light] > svg
{
    color: var(--opposite-color-light);
}

/* Tasks info */
#tasks-info {
    width: var(--list-width);
    display: flex;
    justify-content: var(--tasks-info-justify-content);
    font-size: var(--font-size);
}
#tasks-info[data-theme-mode=light] {
    color: var(--middle-color-light);
}
#tasks-info[data-theme-mode=dark] {
    color: var(--middle-color-dark);
}
#tasks-info > div:first-child {
    margin-right: calc(5 * var(--sections-gap));
}