#add-task-form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: var(--sections-gap) 0;
}
#add-task-form[data-theme-mode=light] > #add-task-input {
    box-shadow: 0 1px 1px 1px var(--shadow-color-light);
}
#add-task-form[data-theme-mode=dark] > #add-task-input {
    box-shadow: 0 1px 1px 1px var(--shadow-color-dark);
}
#add-task-input {
    width: clamp(100px, 65%, 500px);
    padding: var(--padding);
    font-size: var(--font-size);
    border-radius: var(--border-radius);
    position: relative;
    right: -0.5rem;
}
#add-task-button {
    padding: var(--padding);
    font-size: var(--font-size);
    border: none;
    background-color: var(--button-background-color);
    position: relative;
    left: -0.5rem;
    border-radius: var(--border-radius);
    filter: drop-shadow(-1px 1px 1px #00265b);
    transition: background-color 0.2s linear;
}
#add-task-button:hover {
    background-color: var(--button-hover-background-color);
}
#add-task-form[data-theme-mode=light] > #add-task-button {
    color: var(--opposite-color-dark);
}
#add-task-form[data-theme-mode=dark] > #add-task-button {
    color: var(--opposite-color-light);
}